/*global default settings*/
html * {
  font-family: system-ui; /*text font*/
  color: black; /*text color*/
}

/*body default settings*/
body {
  margin: 0px;
}

/*unordered list settings*/
ul {
  list-style-type: none; /*list labelling format*/
  margin: 0; /*spacing elements from others: 1: top, 2: right, 3: bottom, 4: left*/
  padding: 0; /*creating space around elements: 1: top, 2: right, 3: bottom, 4: left*/
  overflow: hidden; /*fit content inside box boundaries*/
  top: 0; /*set boundary for navbar*/
  position: -webkit-sticky; /*this is here to accommodate safari browser*/
  position: sticky; /*keep the navbar visible while scrolling*/
  background-color: black; /*background color of navbar*/
}

/*list properties*/
li {
  color: white; /*text color*/
  float: left; /*position where content floats in its container (there is no center float option :c)*/
}

/*list text properties*/
li a{
  text-align: center; /*horizontal alignment of text within an element*/
  display: block; /*render box location of element*/
  padding: 14px 20px; /*padding around list text*/
}

/*list on hover*/
li a:hover {
  color: black;
  background-color: white;
}